.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  color: hsl(var(--text));
  background-color: hsl(var(--elements));
  height: 8rem;
}

@media (min-width: 37.5em) {
  .header {
    padding-inline: 8rem;
  }
}

.header > h1 {
  font-weight: 600;
  font-size: 1.6rem;
}

@media (min-width: 37.5em) {
  .header > h1 {
    font-size: 2.2rem;
    font-weight: 800;
  }
}

.header > button {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  background-color: inherit;
  color: inherit;
  font-size: 1.4rem;
  font-weight: 300;
  cursor: pointer;
}

@media (min-width: 37.5em) {
  .header > button {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

.light {
  transform: rotate(-30deg);
}
