:root {
  --background: 207 26% 17%;
  --text: 0 0% 100%;
  --elements: 209 23% 22%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

img,
picture {
  max-width: 100%;
  display: block;
}

button,
input {
  font: inherit;
}

ul {
  list-style: none;
}
